main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 20%;
}

.foogle-logo {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 0 75px;
}


.search-bar {
    display: flex;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 25px;
    justify-content: center;
    padding: 5px 20px;
}

.search-bar:hover {
    box-shadow: 0 5px 5px rgba(59, 59, 59, 0.1);
}

.search-icon {
    color: gray;
    margin: auto;
    user-select: none;

}

.search-input {
    width: 100%;
    height: auto;
    border: 0px;
    outline: none;
}

.search-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.search-buttons {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-buttons:hover {
    border: 1px solid #6f6f6f;
    color: #4d4d4d;


}